<?xml version="1.0"?>
<module>
	<!-- see https://world.episerver.com/documentation/developer-guides/CMS/configuration/Configuring-moduleconfig/ for more info on this file -->
	<assemblies>
		<!-- This adds the TravelBug-Web assembly to the "default module" -->
		<!-- Please change this to your assembly if you are installing this on another project-->
		<add assembly="TravelBug.Web" />
	</assemblies>

</module>
